@import-normalize;
@tailwind base;
@tailwind components;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .connect-btn {
    @apply channel-block-text mx-4 rounded-lg border-2
  border-gray-600 px-4 text-base hover:bg-gray-700
  hover:text-gray-300 hover:transition dark:border-gray-400
  dark:hover:bg-gray-300 dark:hover:text-gray-700;
  }

  .sidebar-icon {
    @apply relative mx-auto mt-2 mb-2 
    flex h-12 w-12 cursor-pointer items-center  
  justify-center rounded-3xl bg-gray-400 
  text-green-500 shadow-lg
    transition-all duration-300
    ease-linear hover:rounded-xl hover:bg-green-600
    hover:text-white dark:bg-gray-800;
  }

  .sidebar-tooltip {
    @apply absolute left-14 m-2 w-auto min-w-max origin-left scale-0 rounded-md
    bg-gray-900 p-2 
    text-xs font-bold 
    text-white shadow-md transition-all duration-100;
  }

  .sidebar-hr {
    @apply mx-2 rounded-full 
    border border-gray-200 bg-gray-200 dark:border-gray-800
    dark:bg-gray-800;
  }

  .top-navigation {
    @apply m-0 flex h-16 w-full 
    flex-row items-center justify-evenly 
    bg-gray-300 bg-opacity-90 
    shadow-lg 
    dark:bg-gray-700;
  }

  .top-navigation-icon {
    @apply mr-3
    ml-4 cursor-pointer
    text-gray-500 transition duration-300 
    ease-in-out 
    hover:text-pink-400;
  }

  .top-navigation-icon:first {
    @apply ml-auto mr-4;
  }

  .title-hashtag {
    @apply my-auto ml-2 text-lg font-semibold 
    tracking-wider text-gray-500;
  }

  .title-text {
    @apply my-auto mr-auto ml-2 text-xl font-semibold 
    tracking-wider text-gray-500 text-opacity-80 
    transition duration-300 ease-in-out;
  }

  .search {
    @apply ml-0 mr-0 flex h-9 
    w-1/5 items-center
    justify-start
    rounded-md bg-gray-400 px-2 text-gray-500 
    shadow-md transition
    duration-300 ease-in-out dark:bg-gray-600;
  }

  .search-input {
    @apply w-full rounded bg-transparent
    pl-1 font-sans 
    font-semibold  text-gray-500
    placeholder-gray-500 outline-none;
  }

  .content-container {
    @apply m-0 flex 
    h-full w-full
    flex-col 
    overflow-hidden bg-gray-300 
    dark:bg-gray-700;
  }

  .content-list {
    @apply mx-auto mt-0 ml-0 
    flex h-full 
    w-full flex-col items-center overflow-y-scroll px-0 
    pb-12;
  }

  .post {
    @apply m-0
    flex w-full cursor-pointer flex-row
    items-center justify-evenly py-4
    px-8;
  }

  .post-selected {
    @apply bg-green-400 shadow-md
    dark:bg-gray-900;
  }

  .post-content {
    @apply ml-auto 
    flex w-4/5 flex-col 
    justify-start;
  }

  .post-text {
    @apply mr-auto whitespace-normal text-left text-lg 
    text-gray-800 dark:text-white;
  }

  .post-owner {
    @apply mr-2 cursor-pointer text-left font-semibold text-gray-800 dark:text-white;
  }

  .avatar-wrapper {
    @apply m-0 ml-auto mb-auto
    flex 
    w-12 flex-col items-center;
  }

  .avatar {
    @apply mx-0
    mb-auto mt-0 
    h-full w-12
    flex-none cursor-pointer 
    rounded-full bg-gray-100 object-cover 
    shadow-md;
  }

  .timestamp {
    @apply ml-2 text-left text-xs font-semibold text-gray-500 dark:text-gray-600;
  }

  .bottom-bar {
    @apply fixed left-88 right-8 bottom-2 
    flex h-12 flex-row items-center 
    justify-between rounded-lg 
    bg-gray-400 px-2 shadow-lg
    dark:bg-gray-600;
  }

  .bottom-bar-input {
    @apply ml-0 mr-auto
    w-full cursor-text 
    bg-transparent font-semibold
    text-gray-500  placeholder-gray-500 outline-none
    dark:text-gray-400;
  }

  .channel-bar {
    @apply m-0 ml-16 h-auto w-80 overflow-hidden bg-gray-200
     dark:bg-gray-800;
  }

  .channel-container {
    @apply m-0 flex flex-col items-center 
    justify-start p-1;
  }

  .channel-block {
    @apply m-0 flex h-16 
    items-center 
    justify-center p-0;
  }

  .channel-block-text {
    @apply my-auto mr-auto ml-4 
    align-middle text-lg 
    font-bold tracking-wider text-gray-600 dark:text-gray-400;
  }

  .dropdown {
    @apply m-0 w-full px-2 pb-2
    transition duration-300 ease-in-out;
  }

  .dropdown-header {
    @apply mx-0 flex cursor-pointer flex-row
    items-center justify-evenly
    text-gray-500;
  }

  .dropdown-header-text {
    @apply cursor-default  text-lg 
    font-semibold text-gray-500
    text-opacity-90;
  }

  .dropdown-header-text-selected {
    @apply text-lg font-bold text-blue-500 text-opacity-90;
  }

  .dropdown-selection {
    @apply mt-1 mr-auto ml-2 flex
    cursor-pointer flex-row items-center
    justify-evenly transition duration-300
    ease-in-out;
  }

  .dropdown-selection-text {
    @apply mr-auto cursor-pointer font-semibold
    tracking-wide 
    text-gray-500 transition duration-300 
    ease-in-out hover:text-pink-500
    dark:hover:text-gray-500;
  }
}

@tailwind utilities;

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500 dark:bg-green-400;
}
